* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #55B0A7;
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

.corner-ribbon {
  text-align: center;
  width: 100%;
  line-height: 22px;
  font-size: .8125rem;
  background-color: #e4e462;
  padding: 10px 0;
  text-align: center;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  background-color: #e4e462;
  position: fixed;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  color: black;
  top: 0;
  right: 0;
}

.corner-ribbon span {
  display: inline;
}

@media screen and (min-width: 768px) {
  .corner-ribbon span {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .corner-ribbon {
    width: auto;
    -webkit-transform: rotate(43deg);
    transform: rotate(43deg);
    top: 14px;
    right: -72px;
    font-size: .875rem;
    padding: 15px 50px;
    line-height: 25px;
    background-color: #55B0A7;
    color: #FFF;
  }
}

.header {
  width: 100%;
  margin-top: 15%;
  text-align: center;
  height: 30vh;
}

.header svg {
  transform: translateY(-55%);
  display: block;
  margin: 0 auto;
}

.header text {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  font-size: 1.85rem;
  fill: #FFF;
}

@media screen and (min-width: 768px) {
  .header {
    margin-top: 5%;
  }
}

.quiz-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 50vh;
}

@media screen and (min-width: 768px) {
  .quiz-container {
    width: 70%;
    padding: 20px 30px;
  }
}

@media screen and (min-width: 1024px) {
  .quiz-container {
    width: 50%;
  }
}

.icon {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 50%;
  width: 60px;
}

h1 {
  margin-bottom: 0;
  color: white;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 2.375rem;
}

h2,
h3 {
  letter-spacing: 0;
  font-family: "Open Sans", sans-serif;
}

h2 {
  line-height: 25px;
  font-weight: 500;
  font-size: .9375rem;
  text-transform: uppercase;
}

h3 {
  line-height: 18px;
  text-align: center;
  font-size: .625rem;
  font-weight: 400;
}

button {
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFF;
  white-space: nowrap;
  line-height: 40px;
  padding: 2px 20px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #EAA72E;
  border-radius: 4px;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  letter-spacing: .025em;
  transition: all .15s ease;
}

button:hover {
  background: #55B0A7;
}

button.start-game {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.score-field {
  padding: 0 0 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.score-field h2 {
  flex: 1;
}

.score-field input {
  width: 100%;
  text-align: center;
  background: transparent;
  border: none;
  margin-top: 5px;
  font-weight: 700;
  font-size: 1.125rem;
}

@media screen and (min-width: 768px) {
  .score-field input {
    font-size: 1.625rem;
  }
}

.game-field {
  padding: 0 15px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .game-field {
    padding: 0;
  }
}

.game-field .game-over {
  display: none;
  text-align: center;
  font-weight: 600;
  padding-top: 5%;
}

.game-field .new-game {
  display: none;
}

.question-field {
  text-align: left;
  margin-bottom: 2%;
}

.question-field .question-icon {
  float: left;
  visibility: hidden;
  vertical-align: middle;
  height: 23px;
  margin-right: 8px;
}

.options-field {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.options-field .option {
  text-align: center;
  cursor: pointer;
  font-family: Open Sans,sans-serif;
  background-color: #fff;
  border: 1px solid #282828;
  border-radius: 2em;
  display: inline-block;
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 1;
  padding: 15px 20px;
  -webkit-transition: all .15s;
  transition: all .15s;
  color: #282828;
  margin: 5px 0;
  text-transform: uppercase;
}

.options-field .option:hover {
  background-color: #55B0A7;
  color: #FFF;
}

.options-field .option.correct-answer {
  background: #FFFE79;
  color: #000000;
}

.options-field .option.wrong-answer {
  background-color: #ff0000ba;
  color: white;
  text-decoration: line-through;
}

.floatUp {
  animation-name: floatUp;
  -webkit-animation-name: floatUp;
}

.floatDown {
  animation-name: floatDown;
  -webkit-animation-name: floatDown;
}

.floatUp,
.floatDown {
  animation-duration: 1.7s;
  -webkit-animation-duration: 1.7s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floatUp {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

@keyframes floatDown {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-8%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floatDown {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
